/*
  This file is where you import Tailwind's directives.
  These directives are processed at build time and replaced
  with all of the styles that Tailwind generates.
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can also add your own global custom styles here if needed */
@media print {
    body {
        background-color: white !important;
    }
    .print-layout-hidden {
        display: none !important;
    }
    .printable-area {
        box-shadow: none !important;
        border: none !important;
    }
    @page {
        size: landscape;
    }
}